* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Align search buttons */
.center-buttons {
  font-size: 40px;
  width: 180px;
  padding: 20px;

  vertical-align: center;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.back {
  float: right;
  margin-top: 0px;
  margin-right: 0px;
}

.back-arrow {
  font-size: 43px;
  color: #007AFF;

  float: left;
  margin-top: -15px;
  margin-left: -10px;
}

.create-user {}

#home-button {
  max-height: 65px;
}

#scan-button #search-button #recipes-button{
  display: block;
  margin-top: 10px;
}

#not-safe {
  border-style: solid;
  text-align: center;
  width: 300px;
}

#result-img {
  margin-left: 50px;
}

/* Button for removing an item */
button.delete {
  font-size: 18px;
  color: #fff;
  background-image: linear-gradient(to right, #007AFF, #007AFF, #007AFF, #007AFF);
  text-align:center;
  border: none;
  background-size: 300% 100%;
  position: relative;
  top: -1px;
  font-weight: 600;
  width: 15px;
  height: 15px;
  padding: 0px;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  font-size: 10pt;
}

/* Make add new look like clickable text */
button.add-new {
  font-size: 18px;
  color: #fff;
  background-image: linear-gradient(to right, #007AFF, #007AFF, #007AFF, #007AFF);
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/*
button.add-new {
  cursor: pointer;
  background:none;
  border: none;
  outline: none;

  font-size: 18pt;
}
*/

.buttons {
    margin: 10%;
    text-align: center;
}

/* Go back to the Homepage */
.btn-back-homepage {
  text-align: left;
  font-size: 20px;
  max-height: 30px;

  cursor: pointer;
  background:none;
  border: none;
  outline: none;
}

/* Back buttons */
.btn-back {
  text-align: left;
  font-size: 20px;
  max-height: 30px;

  cursor: pointer;
  background:none;
  border: none;
  outline: none;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

/* Center the screens */
div.center-screen {
    height: 300px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -75px;
}

div.center-new-profile {
    height: 300px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -75px;
}

div.center-results {
  height: 300px;
  width: 400px;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -150px;
}

/* Center screen for search page */
div.center-search {
    height: 300px;
    width: 333px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

/* Header for Smart Shopper login screen */
.header {
  text-transform: uppercase;
  font-family: "Trajan", Arial;
  vertical-align: center;
  text-align: center;
  font-size: 300%;
  padding: 40px;

  background: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* To center aline the login buttons on bottom */
.login {
  vertical-align: text-bottom;
  display: block;
}

/* Set the name cell on New-profile */
#name-text {
  text-align: left;
  height: 21px;
  font-size: 14pt;
  margin-top: -18px;
}

#search-text {
  text-align: left;
  height: 21px;
  font-size: 14pt;
  width: 333px;
}

#new-user-title {
  font-size: 70px;
  text-align: center;
  margin-left: 74px;
  margin-top: 34px;
}
/* Set the restriction cell on New-profile */
.restriction-text {
  text-align: left;
  height: 21px;
  font-size: 14pt;
  margin-top: -18px;
}

/* Dietary restriction */
.restriction {}

/* General text for New-Profile */
.profile-text {
  text-align: left;
  font-size: 200%;
  max-height: 0px;
}

#check {
  margin-left: 13px;
  float: left;
  color: #007AFF;

  margin-top: 0px;
  margin-left: 15px
}

#contains {
}
#scanner {
  text-align: left;
  font-size: 150%;
  max-height: 0px;
}

/* Button to take you to the results page */
.to-results {
  font-size: 20px;
  max-height: 30px;
  float: right;
}

/* Button to search screen */
.to-search {}

/* Button to scan screen */
.to-scan {}

/* Button to recipes screen */
.to-recipes {}

#list-name {
  margin-top: -20px;
  font-size: 200%;
  height: 20px;
}
.arrow {
  color: #007AFF;

  font-size: 43px;
  float: right;
  margin-top: 9px;
}

.continue {
  float: left;
  margin-left: -30px;
}

/* Button to go to search, scan, and recipes*/
.to-scan-search-recipes {
  font-size: 20px;
  max-height: 30px;
  margin-left: 118px;

  cursor: pointer;
  background:none;
  border: none;
  outline: none;
}

.helptxt {
  text-align: center;
  height: 5;
}

.close {
  position: absolute;
  right: 32px;
  top: 18px;

  font-size: 60px;

  cursor: pointer;
  background:none;
  border: none;
  outline: none;
}
