* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Align search buttons */
.center-buttons {
  font-size: 40px;
  width: 180px;
  padding: 20px;

  vertical-align: center;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.back {
  float: right;
  margin-top: 0px;
  margin-right: 0px;
}

.back-arrow {
  font-size: 43px;
  color: #007AFF;

  float: left;
  margin-top: -15px;
  margin-left: -10px;
}

.create-user {}

#home-button {
  max-height: 65px;
}

#scan-button #search-button #recipes-button{
  display: block;
  margin-top: 10px;
}

#not-safe {
  border-style: solid;
  text-align: center;
  width: 300px;
}

#result-img {
  margin-left: 50px;
}

/* Button for removing an item */
button.delete {
  font-size: 18px;
  color: #fff;
  background-image: linear-gradient(to right, #007AFF, #007AFF, #007AFF, #007AFF);
  text-align:center;
  border: none;
  background-size: 300% 100%;
  position: relative;
  top: -1px;
  font-weight: 600;
  width: 15px;
  height: 15px;
  padding: 0px;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  font-size: 10pt;
}

#add {}

/* Make add new look like clickable text */
button.add-new {
  font-size: 18px;
  color: #fff;
  background-image: linear-gradient(to right, #007AFF, #007AFF, #007AFF, #007AFF);
  text-align:center;
  border: none;
  background-size: 300% 100%;

  margin-top: -13px;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/*
button.add-new {
  cursor: pointer;
  background:none;
  border: none;
  outline: none;

  font-size: 18pt;
}
*/

.buttons {
    margin: 10%;
    text-align: center;
}

/* Blury Background */
body {

  background: #F5F6F7 url("../images/produce.jpg");
  background-size: 100% 100%;
}

#home-img {
  background-image: url("../images/produce_banner.jpeg");
  background-repeat: repeat-x;
  background-size: 50% 15%;
}

/* Go back to the Homepage */
.btn-back-homepage {
  text-align: left;
  font-size: 20px;
  max-height: 30px;

  cursor: pointer;
  background:none;
  border: none;
  outline: none;
}

/* Back buttons */
.btn-back {
  text-align: left;
  font-size: 20px;
  max-height: 30px;

  cursor: pointer;
  background:none;
  border: none;
  outline: none;
}

.btn-logout {
  text-align: left;
  font-size: 20px;
  max-height: 30px;

  cursor: pointer;
  background:none;
  border: none;
  outline: none;
}

.btn-hover {
    width: 20%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#bar-white {
  width:            100vw;
  height:           100vh;
  background:       #FFFDF9;

  position: absolute;
  top: 15%;
  margin-left: -8px;
  bottom: 10%px;
  padding: 0px;
}

#bar-green {
  width: 106vw;
  height: 42vh;
  background: #7AC28A;

  position: absolute;
  top: 62%;
  margin-left: -8px;

  padding: 0px;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #fa5a5a, #fb6d6d, #fd8484, #f99595);


    position: absolute;
    top: 42%;
    left: 25%;
}

.btn-hover.color-2 {
    background-image: linear-gradient(to right, #fa5a5a 0%, #f99595 100%);


    position: absolute;
    top: 42%;
    right: 25%;
}

/* Center the screens */
div.center-screen {
    height: 300px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -75px;
}

div.center-new-profile {
    height: 300px;
    width: 400px;

    position: fixed;
    top: 1%;
    left: 45%;
    margin-left: -75px;
}

div.left-new-profile {
  height: 300px;
  width: 400px;

  position: fixed;
  top: 50%;
  left: 10%;
  margin-top: -225px;
  margin-left: -75px;
}

div.center-results {
  height: 300px;
  width: 400px;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -150px;
}

/* Center screen for search page */
div.center-search {
    height: 300px;
    width: 333px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

/* Header for Smart Shopper login screen */
.header {
  text-transform: uppercase;
  font-family: "Simplifica";
  vertical-align: center;
  text-align: center;
  font-size: 90px;
  padding: 40px;
  margin-top: 25px;
  position: relative;
  top: 10%;
  left: 0%;

  background: #000000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* To center aline the login buttons on bottom */
.login {
  vertical-align: text-bottom;
  display: block;
}

/* Set the name cell on New-profile */
#name-text {
  text-align: left;
  height: 23px;
  font-size: 14pt;
  margin-top: -18px;
}

#search-text {
  text-align: left;
  height: 21px;
  font-size: 14pt;
  width: 333px;
}

#new-user-title {
  font-size: 70px;
  text-align: center;
  margin-left: -44%;
  margin-top: 6%;
}
/* Set the restriction cell on New-profile */
#restriction-text {
  text-align: left;
  height: 21px;
  font-size: 14pt;
  margin-top: -13px;
}

.restrictions {
  margin-top: -13px;
}

/* Dietary restriction */
.restriction {}

/* General text for New-Profile */
.profile-text {
  text-align: left;
  font-size: 200%;
  max-height: 0px;
  margin-top: -8px;
}

#presets {
  margin-top: -20px;
  width: 156px;
  font-size: 15px;
}

#check {
  margin-left: 13px;
  float: left;
  color: #007AFF;

  margin-top: 0px;
  margin-left: 15px
}

#contains {
}
#scanner {
  text-align: left;
  font-size: 150%;
  max-height: 0px;
}

/* Button to take you to the results page */
.to-results {
  font-size: 20px;
  max-height: 30px;
  float: right;
}

/* Button to search screen */
.to-search {}

/* Button to scan screen */
.to-scan {}

/* Button to recipes screen */
.to-recipes {}

#list-name {
  margin-top: -20px;
  font-size: 200%;
  height: 20px;
}


.arrow {
  color: #007AFF;

  font-size: 43px;
  float: right;
  margin-top: 9px;
}

.continue {
  float: left;
  margin-left: -30px;
}

/* Button to go to search, scan, and recipes*/
.to-scan-search-recipes {
  font-size: 20px;
  max-height: 30px;
  margin-left: 118px;

  cursor: pointer;
  background:none;
  border: none;
  outline: none;
}

@font-face {
  font-family:"Simplifica";
  src: url("../SIMPLIFICA/Simplifica_Typeface.ttf") format("truetype");
}

.helptxt {
  text-align: center;
  height: 5;
  margin-top
}

#mvhelptxt {
  margin-top: -5vh;
}

.close {
  position: absolute;
  right: 32px;
  top: 18px;

  font-size: 60px;

  cursor: pointer;
  background:none;
  border: none;
  outline: none;
}

.create-account-text {
  text-align: left;
  height: 21px;
  font-size: 14pt;
  margin-top: -18px;
  width: 300px;
  float: left;
}

.to-lists {
  font-size: 20px;
  max-height: 30px;
  float: right;
  margin-right: -1vw;
  margin-top: -6vh;

  cursor: pointer;
  background:none;
  border: none;
  outline: none;
}

/**************** All on index for the tab login ***********/
.center-tabcontent {
  height: 36%;
  width: 49%;

  position: absolute;
  top: 22%;
  left: 26%;
}

.tabcontent {

  display: none;
}

.tablinks {
    background-color: #737070;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}

.tablinks:hover {
    background-color: #845252;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #845252;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #4a4a4a;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
